
<div class="row">
    <div class="col-md-12">
        
        <br />
        <legend>Aufgabe 2</legend>
        <br />

        <form action="~/Lab2/login?sid=@ViewBag.sessionid" method="post" class="well">

            <label>Username</label>
            <input type="text" name="username" value="" class="form-control" />

            <br />

            <label>Password</label>
            <input type="password" name="password" value="" class="form-control" />

            <br />

            <!--<label>
            Stay Logged In
        </label>
        <input type="checkbox" name="stay_logged_in" />
        -->

            <br /> <br />
            <button type="submit" class="btn btn-primary">log in</button>

        </form>

    </div>
</div>