
<div class="row">
    <div class="col-md-12">
        <h2>Praktische Prüfung</h2>
        <p>
            Sie umfasst vier Fragen zu jeweils unterschiedlichen Bereichen. Jede Aufgabe ist durch ein separates Menu erreichbar.
            <br />
            <b>Viel Glück!</b>
        </p>


    </div>
</div>